In [7]:
from config import *
import pandas as pd
import os

print(path_Sim)
print(os.getcwd())

df = pd.read_csv(test_data_path + os.sep + "rhev-siting.6.events.7Advanced_filtered.csv", dtype=dtype_Sim)

test_data\rhev-siting.6.events.7Advanced_filtered.csv
c:\Users\akaju\Documents\GitHub\xfc_btms_saev_controller\simulationScripts\advancedScenario

In [9]:
df['time'] = df['time'] - df['duration']

In [12]:
df.set_index('time', inplace=True)

KeyError: "None of ['time'] are in the columns"

In [14]:
df.sort_index(inplace=True)
df.head()

,Unnamed: 0,vehicle,parkingTaz,chargingPointType,pricingModel,parkingType,locationY,locationX,secondaryFuelLevel,price,...,primaryFuelType,riders,toStopIndex,fromStopIndex,seatingCapacity,tollPaid,links,numPassengers,primaryFuel,score
time,,,,,,,,,,,,,,,,,,,,,
808.0,444654,rideHailVehicle-4731077@GlobalRHM,290,depotxfc(300.0|DC),FlatFee,Workplace,37.548810,-122.263637,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814.0,444520,rideHailVehicle-7008542@GlobalRHM,290,depotxfc(300.0|DC),FlatFee,Workplace,37.548810,-122.263637,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1391.0,444569,rideHailVehicle-5157290@GlobalRHM,421,depotxfc(300.0|DC),FlatFee,Workplace,37.232172,-121.986035,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1427.0,444606,rideHailVehicle-2885711@GlobalRHM,777,depotxfc(300.0|DC),FlatFee,Workplace,37.373493,-122.081781,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1517.0,444803,rideHailVehicle-1307657@GlobalRHM,189,depotxfc(300.0|DC),FlatFee,Workplace,37.498211,-122.249443,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_data_path + os.sep + "rhev-siting.6.events.7Advanced_filtered_time_adjusted.csv"
df.to_csv(test_data_path + os.sep + "rhev-siting.6.events.7Advanced_filtered_time_adjusted.csv")