In [4]:
import numpy as np
test = [-100, -200, -300, float('nan'), 1000]
idx = np.argsort(test)
print(idx)

[2 1 0 4 3]

In [3]:
def test():
    return 4,5
a = 10
b = 20
(a,b) = test()
print(a)
print(b)

4
5

In [17]:
test = ['test', 'test', False,'test']
num_Charges = 0
for x in test:
    if not x == False:
        num_Charges +=1
        print(x)
print(num_Charges)

test
test
test
3

In [109]:
import numpy as np
CD_Bays = [20,9,12,15]
#          0,1, 2, 3
CD_Queue = [12,13,12]
#            4, 5, 6
ChBaNum = 4

CD_merged = CD_Bays + CD_Queue
if len(CD_merged) > ChBaNum: # we only need to sort, if we have more cars then plugs.
    for i in range(0,len(CD_merged)):# change sign to make list descending
        CD_merged[i] = -1* CD_merged[i] 
    idx_sorted = np.argsort(CD_merged, kind= 'stable')
    n = ChBaNum
    idx_Bay_new = idx_sorted[:n]    #this are the vehicles, which should be plugged in
    idx_Bay_newStable = []          #this is a stable indice list of vehicles which are plugged in
    idx_Bay_old = range(0,n)        #this is a indice list of vehicles which have been charging before
    idx = np.isin(element = idx_Bay_old, test_elements=idx_Bay_new) # if true, the vehicle in the old list of vehicles in charging bays is also in the new
    idx_inv = np.isin(element = idx_Bay_new, test_elements=idx_Bay_old) # if false, the vehicle of the new list of vehicles in the charging bays have not been in the old (and should be added)
    j = 0   # variable, read index in idx_inv
    for i in range(0, n):
        if idx[i]:
            idx_Bay_newStable.append(i)
        else:
            while idx_inv[j] == True:
                j+=1
            idx_inv[j] = True
            idx_Bay_newStable.append(idx_Bay_new[j])
    idx_Queue_new_bool = np.isin(element = range(0,len(CD_merged)), test_elements = idx_Bay_newStable, invert=True)
    idx_Queue_new = []
    for i in range(0, len(idx_Queue_new_bool)):
        if idx_Queue_new_bool[i]:
            idx_Queue_new.append(i)
    allVehicles = ['v0', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6']
    ChBaVehicles = []
    Queue = []
    for i in idx_Bay_newStable:
        ChBaVehicles.append(allVehicles[i])
    for i in idx_Queue_new:
        Queue.append(allVehicles[i])

print(idx_Bay_newStable)
print(idx_Queue_new)
print(idx_sorted)
print(idx)
print(ChBaVehicles)
print(Queue)

[0, 5, 2, 3]
[1, 4, 6]
[0 3 5 2 4 6 1]
[ True False  True  True]
['v0', 'v5', 'v2', 'v3']
['v1', 'v4', 'v6']

In [118]:
-1* float('inf')

-inf

In [106]:
CD_merged

-20

In [39]:
class mytest:

    def __init__(self):
        self.var1 = []
        self.t_act = 1
    def step(self):
        self.t_act += 1

class mytest2:
    def __init__(self, t_act):
        self.t_act = float("NaN")
    def initialize(self, SimBroker):
        self.SimBroker = SimBroker

SimBroker = mytest()
ChargingStation = mytest2(10)

print(SimBroker.t_act)
print(ChargingStation.t_act)
ChargingStation.initialize(SimBroker)
print(ChargingStation.t_act)
print("\nnow see if connection works:")
SimBroker.step()
print(SimBroker.t_act)
print(ChargingStation.t_act)
print(ChargingStation.SimBroker.t_act)

1
nan
nan

now see if connection works:
2
nan
2

In [48]:
import numpy.random as npr
for i in range(0,20):
    print( 1 + (0.1 * npr.randn()) )

0.96631086208434
0.9695817435026071
0.9850232123197592
1.3286863113401595
1.1363181318356548
1.223841739858886
1.153431269037153
0.9594981037988259
1.0985144892961272
1.1195379149030187
1.0482692599878953
0.9639715209822047
0.9560420305335983
0.9041712359818795
0.9184446094348142
0.9986415664737921
0.9700613705684082
1.0434256409368048
0.9125147714708108
0.9752597089527479

In [17]:

tesla1 = Vehicle('xys45', 'Tesla Model 3', 12000, 18000, 20, 20, 60)

SyntaxError: invalid syntax (3652697480.py, line 1)

In [27]:
for i in range(0,3):
    print(i)

0
1
2

In [70]:
import pandas as pd
test = pd.DataFrame(data={
    'col1': [1,2,3],
    'col2': [4,5,6],
    'col3': [8,9,10]
})
test.iloc[0:4]

   col1  col2  col3
0     1     4     8
1     2     5     9
2     3     6    10

In [77]:
import pandas as pd

test = pd.DataFrame(columns=["col1", "col2"])
test = test.append({
    "col1": 1, "col2": 2
}, ignore_index=True)
test

  col1 col2
0    1    2