In [1]:
powers = [200, 200, 300]
sum(powers)

700

In [9]:
class mytest:

    def __init__(self):
        self.var1 = []

test_inst = mytest()

test_inst.var1.append(14)
test_inst.var1.append(12)
print(test_inst.var1)
print(test_inst.var1.pop(0))
print(test_inst.var1)

[14, 12]
14
[12]

In [17]:

tesla1 = Vehicle('xys45', 'Tesla Model 3', 12000, 18000, 20, 20, 60)

SyntaxError: invalid syntax (3652697480.py, line 1)

In [8]:
import pandas as pd
df3 = pd.DataFrame({"A": [1,2,3], "B": [4,5,6]})
df3.append({"A": 10, "B": 12}, ignore_index=True)

    A   B
0   1   4
1   2   5
2   3   6
3  10  12