## pandas series (one-dimensional with index)

In [2]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5), index = ["a", "b", "c", "d", "e"])
s
#t = pd.Series(np.random.randn(5))
# t
print(s)

a    1.974814
b   -0.850200
c    0.762709
d    0.710383
e   -1.472628
dtype: float64

In [8]:
#with same index names
s10 = pd.DataFrame(np.random.randn(5), index = ["a","a", "a", "a","b"])
s10.head()
s10.loc["a"]

          0
a -1.232186
a  0.061882
a -0.541260
a -0.583567

In [3]:
# from dict
d = {"t": 1,
    "o": 2,
    "c": 3}
u = pd.Series(d)
u

t    1
o    2
c    3
dtype: int64

In [4]:
c = np.multiply(s,2)
c.dtype
c.array[0:3]
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## pandas data-frame
2-dimensional with index (rows) and columns

In [5]:
# lets create a dict
d = {
    "one": pd.Series(np.random.randn(5), index =["a", "b", "c", "d", "e"]),
    "two": pd.Series(np.random.randn(5), index =["a", "b", "c", "d", "e"])
}
d["one"]
df = pd.DataFrame(d) #, index = ["c", "d"])
df

        one       two
a -0.699358 -0.367836
b  0.343071 -0.468591
c  0.036996  0.393168
d -0.259997 -0.169496
e  0.251682  0.976648

In [6]:
df["three"] = df["one"] * df["two"]
df["flag"] = df["one"] > 0 
df
for i in range(0,df.index.size):
    print("row " +str(i))
    if df["one"][i] > 0:
        print("this row is greater than 0")
    else: 
        print("this row is smaller than 0")

row 0
this row is smaller than 0
row 1
this row is greater than 0
row 2
this row is greater than 0
row 3
this row is smaller than 0
row 4
this row is greater than 0

In [7]:
df["four"] = np.random.randn(5)
df

        one       two     three   flag      four
a -0.699358 -0.367836  0.257249  False -0.710606
b  0.343071 -0.468591 -0.160760   True  0.483543
c  0.036996  0.393168  0.014546   True  0.348631
d -0.259997 -0.169496  0.044069  False  0.666415
e  0.251682  0.976648  0.245805   True  1.093861

In [8]:
df.query("one > 0 or one <-0.4")

        one       two     three   flag      four
a -0.699358 -0.367836  0.257249  False -0.710606
b  0.343071 -0.468591 -0.160760   True  0.483543
c  0.036996  0.393168  0.014546   True  0.348631
e  0.251682  0.976648  0.245805   True  1.093861

In [9]:
bool_vec = [True, False, True, True, False]
df.loc[bool_vec]

        one       two     three   flag      four
a -0.699358 -0.367836  0.257249  False -0.710606
c  0.036996  0.393168  0.014546   True  0.348631
d -0.259997 -0.169496  0.044069  False  0.666415

In [10]:
for i in df.one:
    print(i)

-0.6993582765421072
0.3430705701496483
0.03699641371599945
-0.25999729233767366
0.25168193158859964

In [11]:
df2 = pd.DataFrame(np.random.randn(10,4))
df2.describe

<bound method NDFrame.describe of           0         1         2         3
0  0.056450 -0.561981  0.292224 -1.032540
1 -0.097605  0.685053 -1.038240 -2.280225
2  1.080143 -0.945918  0.256258 -1.120186
3  0.384395 -0.227083 -0.014253 -0.035224
4 -1.007753  0.032334  0.290712 -1.712079
5  0.166599  0.637564 -0.400357  0.241914
6  0.106774  2.129668  0.790257  0.327099
7 -1.333696  0.841235  0.778157  0.915879
8 -0.404011  0.409247  2.119009  1.265528
9  0.353628 -0.305148  1.827461  2.644363>

In [12]:
df2

          0         1         2         3
0  0.056450 -0.561981  0.292224 -1.032540
1 -0.097605  0.685053 -1.038240 -2.280225
2  1.080143 -0.945918  0.256258 -1.120186
3  0.384395 -0.227083 -0.014253 -0.035224
4 -1.007753  0.032334  0.290712 -1.712079
5  0.166599  0.637564 -0.400357  0.241914
6  0.106774  2.129668  0.790257  0.327099
7 -1.333696  0.841235  0.778157  0.915879
8 -0.404011  0.409247  2.119009  1.265528
9  0.353628 -0.305148  1.827461  2.644363

In [13]:
df3 = df2.sort_values(by=0)
df4 = df3.sort_index()
df4

          0         1         2         3
0  0.056450 -0.561981  0.292224 -1.032540
1 -0.097605  0.685053 -1.038240 -2.280225
2  1.080143 -0.945918  0.256258 -1.120186
3  0.384395 -0.227083 -0.014253 -0.035224
4 -1.007753  0.032334  0.290712 -1.712079
5  0.166599  0.637564 -0.400357  0.241914
6  0.106774  2.129668  0.790257  0.327099
7 -1.333696  0.841235  0.778157  0.915879
8 -0.404011  0.409247  2.119009  1.265528
9  0.353628 -0.305148  1.827461  2.644363

In [14]:
df

        one       two     three   flag      four
a -0.699358 -0.367836  0.257249  False -0.710606
b  0.343071 -0.468591 -0.160760   True  0.483543
c  0.036996  0.393168  0.014546   True  0.348631
d -0.259997 -0.169496  0.044069  False  0.666415
e  0.251682  0.976648  0.245805   True  1.093861

In [15]:
df.loc[["a", "b"], ["one", "two"]]

        one       two
a -0.699358 -0.367836
b  0.343071 -0.468591

In [16]:
df.iloc[[0,2], 0:2]

        one       two
a -0.699358 -0.367836
c  0.036996  0.393168

In [17]:
df[df["flag"].isin([True])]

        one       two     three  flag      four
b  0.343071 -0.468591 -0.160760  True  0.483543
c  0.036996  0.393168  0.014546  True  0.348631
e  0.251682  0.976648  0.245805  True  1.093861

In [18]:
pd.date_range(start= "20210301", end="20210304", freq="12H")

DatetimeIndex(['2021-03-01 00:00:00', '2021-03-01 12:00:00',
               '2021-03-02 00:00:00', '2021-03-02 12:00:00',
               '2021-03-03 00:00:00', '2021-03-03 12:00:00',
               '2021-03-04 00:00:00'],
              dtype='datetime64[ns]', freq='12H')

In [19]:
df.value_counts()

one        two        three      flag   four
-0.699358  -0.367836   0.257249  False  -0.710606    1
-0.259997  -0.169496   0.044069  False   0.666415    1
 0.036996   0.393168   0.014546  True    0.348631    1
 0.251682   0.976648   0.245805  True    1.093861    1
 0.343071  -0.468591  -0.160760  True    0.483543    1
dtype: int64

In [20]:
df5 = pd.DataFrame(

    {

        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],

        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],

        "C": np.random.randn(8),

        "D": np.random.randn(8),

    }

)
df5

     A      B         C         D
0  foo    one -0.320026 -1.820391
1  bar    one -1.542178  0.708306
2  foo    two -1.368014 -1.217263
3  bar  three -0.830467 -1.115671
4  foo    two  0.159063 -1.089411
5  bar    two  0.767486  1.691530
6  foo    one -1.794855  1.284288
7  foo  three  0.384774 -0.201920

In [21]:
df6 = df5.groupby(["A", "B"]).mean()
df6

                  C         D
A   B
bar one   -1.542178  0.708306
    three -0.830467 -1.115671
    two    0.767486  1.691530
foo one   -1.057441 -0.268051
    three  0.384774 -0.201920
    two   -0.604475 -1.153337

In [22]:
type(df6["C"])

pandas.core.series.Series